<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>www.julius3d.com</title>
	
	<!-- Vendor CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>


<body ng-app="app-quiz">

<section id="my-quiz" ng-controller="QuizCtrl">
	<h1>{{ introMessage }}:</h1>
	<h2 class="text-center">Routing</h2>
	
	<!-- Progress div: -->
	<div class="j-progress">
		<div class="{{ ($index === activeQuestion) ? 'on' : 'off'}}"
		     ng-repeat="question in myQuestions"></div>
	</div>
	
	<!-- Intro div: -->
	<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
		<h2>Intro</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid exercitationem facilis minus obcaecati
		   omnis perspiciatis recusandae tenetur! Aliquam commodi cumque exercitationem harum illo ipsa iure
		   perspiciatis quam sapiente unde!</p>
		<button class="btn btn-warning" ng-click="activeQuestion = 0">Begin</button>
	</div>
	
	<!-- Question div: -->
	<div ng-repeat="question in myQuestions" class="question
		{{ question.questionState === 'answered' ? 'answered' : 'unanswered' }}
		{{ $index === activeQuestion ? 'active' : 'inactive' }}">
		<p class="txt">{{ question.question }}</p>
		<!-- answer inner loop -->
		<p class="ans" ng-repeat="anwser in question.answers"
		   ng-click="selectAnswer($parent.$index, $index)">
			{{ anwser.text }}
		</p>
		<!-- feedback: -->
		<div class="feedback">
			<p>Correct! Good job ^_^</p>
			<p>Wrong! Try again :T</p>
			<p>More information feedback</p>
			<div class="btn btn-sm btn-info"><strong>Continue</strong></div>
		</div>
	</div>
	
	<!-- Results div: -->
	<div class="results">
		<h3>The Results</h3>
		<p>Your score was X.YZ%</p>
		<p>Challenge your friends:</p>
		<div class="share">
			<a href="#" class="btn btn-sm btn-warning email">Email</a>
			<a href="#" class="btn btn-sm btn-info twitter">Tweet</a>
		</div>
	</div>
</section>

<footer class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<a href="https://github.com/ideaguy3d/ng-quiz-app" target="_blank" class="btn btn-lg">
			<strong>Source Code for this app</strong>
		</a>
		Built by:
		<a href="http://julius3d.com" target="_blank">
			<strong><i>Julius Alvarado</i></strong>
		</a>
	</div>
</footer>


<!-- Vendor Scripts -->
<script src="vendor/angular/angular.min.js"></script>

<!-- Custom Scripts -->
<script src="client/app-quiz.js"></script>

</body>
</html>