/*
Julius Alvarado
www.julius3d.com
*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);
body {
  background-color: #fff;
  padding: 20px; }

#my-quiz {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: whitesmoke;
  position: relative;
  display: block;
  width: 700px;
  height: 600px;
  overflow: hidden;
  background: url(../images/background.jpg) no-repeat 0 0;
  margin: auto;
  /*
	//-- PROGRESS BAR SECTION --\\
	-------- #my-quiz > .intro --------
	*/
  /*
	//-- INTRO SECTION --\\
	-------- #my-quiz > .intro --------
	*/
  /*
	//-- QUESTION SECTION --\\
	-------- #my-quiz > .question --------
	*/
  /*
	//-- RESULTS SECTION --\\
	-------- #my-quiz > .results --------
	*/ }
  #my-quiz h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300; }
  #my-quiz .j-progress {
    width: 550px;
    position: absolute;
    top: 160px;
    left: 160px; }
    #my-quiz .j-progress div {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 30px;
      border-radius: 50%;
      background-color: whitesmoke;
      transition: background-color 1s; }
    #my-quiz .j-progress div.correct::after {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      left: -4px;
      width: 65px;
      height: 40px;
      background: url(../images/icon_correct.svg) no-repeat 0 0;
      transition: opacity 1s, top 1s;
      opacity: 0; }
    #my-quiz .j-progress div.on, #my-quiz .j-progress div.answered {
      background-color: #555555; }
    #my-quiz .j-progress div.correct::after {
      top: -5px;
      opacity: 1; }
  #my-quiz .intro {
    position: absolute;
    top: 200px;
    left: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    width: 700px; }
  #my-quiz .intro.inactive, #my-quiz .inactive.answered {
    left: -1200px; }
  #my-quiz .question {
    position: absolute;
    top: 120px;
    left: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px; }
    #my-quiz .question .ans {
      display: inline-block;
      border: solid thin whitesmoke;
      border-radius: 8px;
      padding: 8px;
      width: 40%;
      position: relative;
      cursor: pointer;
      margin: 8px 8px; }
    #my-quiz .question .ans::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      position: absolute;
      top: 5px;
      right: 5px; }
    #my-quiz .question .ans.selected {
      border-color: rgba(188, 101, 6, 0.9);
      border-width: 2px; }
    #my-quiz .question .ans.selected::after {
      background-image: url(../images/icon_incorrect.svg); }
    #my-quiz .question .ans.correct {
      border-color: #228048;
      border-width: 2px; }
    #my-quiz .question .ans.correct::after {
      background-image: url(../images/icon_correct.svg); }
  #my-quiz .question.unanswered .ans {
    cursor: pointer; }
  #my-quiz .question.unanswered .ans:hover {
    background-color: #555555; }
  #my-quiz .question.unanswered .feedback {
    margin-top: 50px;
    transition: opacity 1.5s, margin-top 1.5s;
    visibility: hidden;
    opacity: 0; }
  #my-quiz .question.answered .ans {
    cursor: default; }
  #my-quiz .question.answered .feedback {
    visibility: visible;
    transition: opacity 1.5s, margin-top 1.5s;
    opacity: 1;
    margin-top: 10px; }
  #my-quiz .results {
    position: absolute;
    top: 250px;
    left: -250px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px; }
    #my-quiz .results .share {
      margin-top: 20px; }
      #my-quiz .results .share a.btn {
        margin-right: 20px;
        padding: 10px 8px 8px 42px;
        background-repeat: no-repeat;
        background-position: 10px 6px;
        background-size: 25px 25px; }
      #my-quiz .results .share a.btn.email {
        background-image: url(../images/icon_email.svg); }
      #my-quiz .results .share a.btn.twitter {
        background-image: url(../images/icon_twitter.svg); }
  #my-quiz .active, #my-quiz .inactive {
    transition: left 1.5s ease-in-out; }
  #my-quiz .active {
    left: 0 !important; }
